# IDE
.idea/
.vs/
.vscode/

# Node Modules
node_modules/

# Distribution files
dist/

# Local environment files
.env
.env.*

# Foundry specific files
foundryconfig.json

# OS specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Temporary files
*.tmp
*~

# Ensure all assets and packs files are included
!assets/
!assets/**/*
!packs/
!packs/**/*

# Foundry VTT database management files
packs/**/LOCK
packs/**/LOG*
packs/**/CURRENT
packs/**/MANIFEST-* 